@import '../../variables.scss';

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__container {
    @include clickable;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      & .city{
        &__weather{
          &__temperature {
            &__icon{
              background: $hover-color;
            }
          }
          &__wind {
            &__icon{
              background: $hover-color;
            }
          }
        }
      }
    }
    &--selected {
      & .city{
        &__weather{
          &__temperature {
            &__icon{
              background: $selected-color;
            }
          }
          &__wind {
            &__icon{
              background: $selected-color;
            }
          }
        }
      }
    }

  }

  &-selected {
    width: 220px;
    height: 220px;
    background-color: $selected-background-color;
    & .city{
      &__weather{
        &__temperature {
          &__icon{
            background:  $selected-color;
          }
        }
        &__wind {
          &__icon{
            background:  $selected-color;
          }
        }
      }
    }
  }

  &__name {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__weather {
    display: flex;
    flex-direction: row;
    &__info {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      text-transform: uppercase;
    }

    &__temperature {
      margin: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__icon {
        width: 30px;
        height: 30px;
        color: white;
        border-radius: 50%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $orange;
      }

      &__info {
        margin-left: 10px;
        font-size: 15px;
        text-align: center;
      }
    }

    &__wind {
      margin: 2px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__icon {
        width: 30px;
        height: 30px;
        color: white;

        border-radius: 50%;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $orange;
      }

      &__info {
        margin-left: 10px;
        font-size: 15px;
        text-align: center;
      }
    }

  }
}
