<div class="city">
  <div *ngIf="initialized">
    <div class="city__container animated fadeIn" [ngClass]="{'city__container--selected':selected}" (click)="toggleForecast()">
      <h4 class="city__name">{{cityName}}</h4>
      <div>
        <span *ngFor="let w of weather">
          {{w.main}}
        </span>
      </div>
      <div class="city__weather">
        <div style="padding-right:12px;">
          <app-weathericon [size]="50" [weather]="weather[0]"></app-weathericon>
        </div>
        <div>
          <div class="city__weather__temperature">
            <div class="city__weather__temperature__icon">
              <i class="wi wi-celsius"></i>
            </div>
            <div class="city__weather__temperature__info">
              {{info.temp | integer}}
            </div>
          </div>
          <div class="city__weather__wind">
            <div class="city__weather__wind__icon">
              <i class="wi wi-strong-wind"></i>
            </div>
            <div class="city__weather__wind__info">
              {{wind.speed}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!initialized">
    <div class="city__weather">
      <div class="city__weather__info">
        LOADING
      </div>
    </div>
  </div>

  <div class="city__container" *ngIf="!initialized">
    <div>
      <i class="wi wi-day-sunny spin"></i>
    </div>
  </div>
</div>
