@import '../../variables.scss';

.forecast {
  width: 100%;

  &__container {
    flex: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(59, 53, 45, 0.15);
    @media (min-width: $breakpoint-mobile + 1) {
      animation: enlarge 1s forwards;
    }
  }

  &__days {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 5px;
    align-self: flex-end;
    color: white;
  }

  &__hours {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .forecast {
    &__days {
      justify-content: center;
      align-items: center;
    }
    &__hours {
      display: flex;
      flex-direction: column;
    }

  }
}
