<div class="forecast">
  <div *ngIf="initialized">
    <div *ngIf="forecast" class="forecast__container">

      <div class="forecast__days">
        <app-day-button *ngFor="let f of forecast"  [day]="f" (notifySelection)="selectDay($event)"></app-day-button>
      </div>

      <h5>Weather in {{cityName}}, {{selectedDay.description}}</h5>

      <div class="forecast__hours">
          <app-hour *ngFor="let hour of selectedDay.hours"  [hour]="hour"></app-hour>
      </div>

      <div>
        <app-chartforecast [weather]="selectedDay"></app-chartforecast>
      </div>
  </div>

  <div class="forecast__container" *ngIf="!initialized">
      <i class="wi wi-day-sunny spin"></i>
      LOADING
    </div>
</div>
