.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#eee;
  font-family: monospace;
  animation: all 1s;
  min-height: 100vh;

  &__cities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 1 auto;
  }

  &__forecast{
    flex: 0 0 auto;
  }
}
