<div class="app">
  <h1 style="text-align: center">Weather conditions</h1>
  <h3 style="text-align: center">Select a city to explore the weather conditions</h3>

  <div *ngIf="!isSmartphone">
    <div class="app__cities">
      <div *ngFor='let city of cities'>
        <app-city [cityName]='city' [selected]="weatherForecast === city" (notifyToggle)="toggleCity($event)">
        </app-city>
      </div>
    </div>
    <div *ngIf="weatherForecast" class="app__forecast">
      <app-forecast [cityName]="weatherForecast"></app-forecast>
    </div>
  </div>

  <div class="app__cities" *ngIf="isSmartphone">
    <div *ngFor='let city of cities'>
      <app-city [cityName]='city' [selected]="weatherForecast === city" (notifyToggle)="toggleCity($event)">
      </app-city>
      <div *ngIf="weatherForecast === city" class="app__forecast">
        <app-forecast [cityName]="weatherForecast"></app-forecast>
      </div>
    </div>
  </div>

</div>
