<div class="day" [ngClass]="{'day--selected': day.selected}" (click)="click($event)">
    <div class="day__icon">
      <app-weathericon [weather]="{main: day.mostFrequentWeather}" [size]="20"></app-weathericon>
    </div>
    <div class="day__info">{{day.dayOfWeek}}</div>
</div>
