@import '../../variables.scss';

.day {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 20px;
  margin: 5px;
  height: 60px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    padding: 8px;
    color: white;
  }

  &__info {
    margin: 0 10px;
    font-size: 15px;
  }

  &--selected {
    color: $selected-color;
    background-color: $selected-background-color;
    border-color: $selected-color;
  }

  &:hover {
    border-color: $hover-color;
    color: $hover-color;
  }
}

@media (max-width: $breakpoint-mobile) {
  .day {
    justify-content: center;
    align-items: center;
    height: 40px;

    &__icon {
      visibility: hidden;
      width: 0;
      padding: 0;
    }
  }
}
