/* You can add global styles to this file, and also import other style files */
body {
  background: #222 !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes enlarge {
  0% {
    height: 0;
  }
  100% {
    height: 470px;
  }
}

.spin {
  animation: rotate 1s infinite;
}
