$orange: coral;
$selected-color: indianred;
$selected-background-color: #f3dad1;
$hover-color: #d47b52;
$breakpoint-mobile: 600px;


@mixin clickable {
  color: $orange;
  border: 2px solid $orange;

  &:hover{
    color: $hover-color;
    border: 2px solid $hover-color;
  }

  &--selected{
    color: $selected-color;
    border: 2px solid $selected-color;
    background-color: $selected-background-color;
  }
}
