<div class="hour">
    <div class="hour__info">{{hour.description}}:00</div>
    <div class="hour__icon">
      <app-weathericon [weather]="hour.meteoInfo.weather[0]" [size]="40"></app-weathericon>
      <div class="hour__temperature">
        <div>{{hour.meteoInfo.main.temp_max | integer}}°</div>
      </div>
    </div>
  </div>
