@import '../../variables.scss';
.hour {
  margin: 0 2px;
  padding: 5px;
  border: 2px solid $orange;
  border-radius: 20px;
  ;

  &__info {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $orange;
    font-size: 15px;
    padding: 5px;
    flex: 0 0 auto;
  }

  &__weather {
    display: flex;
    align-items: center;
    font-size: 10px;
    flex: 1 1 auto;
    padding-left: 10px;
    background-color: #555;
    border-radius: 10px;
    text-transform: uppercase;
  }

  &__temperature {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60px;

    & div {
      color: white;
      border-radius: 50%;
      min-width: 25px;
      padding: 3px;
      text-align: center;
      margin-top: -10px;
      background-color: $orange;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .hour {
    display: flex;
    flex-direction: row;
    margin: 0 5px 5px 5px;

    &__info {
      color: $orange;
      font-size: 15px;
      padding: 5px;
      flex: 0 0 auto;
    }

    &__icon {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &__temperature {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 60px;
      margin-left: auto;

      & div {
        color: white;
        float: right;
        border-radius: 50%;
        min-width: 40px;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $orange;
      }
    }
  }
}
